/* Base Application Styles */
body {
  background-color: #333;
  color:white;
  color: white;
  padding-top: 50px;
  -webkit-font-smoothing: antialiased;
}

body legend, body .form-control {
  color:white;
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}
